@import url("https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Nova Oval", cursive;
    color: #576cbc;
    overflow: hidden;
}

.name {
    height: 10vh;
    padding-top: 5px;
    margin-top: 5px;
    display: flex;
}

.contains {
    background-color: rgb(8, 25, 54);
    border-radius: 0px 0px 20px 20px;
    display: flex;
}
.name h1 {
    font-family: "Nova Oval", cursive;
    padding-bottom: 4px;
    font-size: 65px;
    padding-right: 10px;
    color: #23b38f;
}
.input {
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 30vw;
    justify-content: flex-start;
    align-items: center;
}
#background {
    position: absolute;
    width: 500px;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    animation: popup 2s ease;
}
@keyframes popup {
    0% {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    75% {
        width: 600px;
    }
    100% {
        opacity: 1;
        width: 500px;
    }
}
#cityname {
    position: relative;
    width: 30vw;
    height: 5vh;
    margin: 1vh;
    font-size: 30px;
    border-radius: 1rem;
    text-align: center;
    color: #576cbc;
    background-color: #130f40;
}
#overlay {
    position: absolute;

    width: 500px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 40%;
    z-index: -1;
}
#submit {
    width: 50px;
    height: 50px;
    margin: 1vh;
    border-radius: 10%;
    background-color: #576cbc;
}
#submit:hover {
    cursor: pointer;
    transition: all 0.3s linear;
    color: white;
    background-color: aliceblue;
}
#card--container {
    height: 100vh;
}
.result {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1vh;
    width: 23vw;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.549);
    border-radius: 20px;
}
.res1 {
    opacity: 50%;
}
.result div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#city {
    height: 10vh;
    width: 100%;
    font-size: 40px;
    padding-top: 10px;
    margin-top: 3px;
    text-align: center;
    background-color: rgb(8, 25, 54);
    border-radius: 20px 20px 0 0;
}
#sky {
    height: 10vh;
    font-size: 30px;
    width: 100%;
    padding-top: 15px;
    text-align: center;
}
#temp {
    height: 10vh;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
#wind {
    font-size: 30px;
    width: 100%;
    text-align: center;
    height: 10vh;
}

#humidity {
    font-size: 30px;
    width: 100%;
    text-align: center;
    height: 10vh;
    padding-top: 10px;
}
#icon img {
    width: auto;
    height: auto;
}
.contact {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
a {
    padding: 20px;
}
a:hover {
    transition: all 0.3s linear;
    color: #0b2447;
    transform: scale(1.5);
}

@media screen and (max-width: 674px) {
    body {
        background-color: white;
        background-image: url("");
    }
    #background {
        width: 100%;
    }
    .result {
        width: 100%;
    }
    #line {
        width: 80%;
    }
    .name h1 {
        color: #23b38f;
    }
    #cityname {
        width: 200px;
    }
}

@media screen and (max-width: 1420px) and (min-width: 674px) {
    #background {
        width: 500px;
        height: 100vh;
    }
    #overlay {
        width: 500px;
        height: 100vh;
    }
    .name h1 {
        font-size: 50px;
        width: 100%;
        text-align: center;
    }
    .result {
        width: 100%;
    }
    .input {
        width: 100%;
        padding-left: 400px;
    }
    .card--container{
        height: 90vh;
    }
}
